.navbar {
  background-color: #000000;
  padding: .5rem 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  background: black;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color:white;
}
#nav_brand{
  display:flex;
}
#nav_brand p{
  padding-top:.5em;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: white;
  font-size:larger;
  border-radius:15px;
}

.nav-link:hover,.nav-link.active {
  background: linear-gradient(135deg, #0A0F1A 0%, #1c4274 40%, #0078FF 100%);

  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(255,255,255,0.2);
  color:white;
}
#nav_icon{
  width:2em;
}
/* Responsive CSS */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
    color:black;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}