.pagination-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.carousel-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: grey;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  z-index:10000;
}
.carousel-btn:hover {
  background: linear-gradient(135deg, #0A0F1A 0%, #1c4274 40%, #0078FF 100%);
}

.carousel-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.page-btn {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
  color: black;
}

.page-btn:hover {
  background: #eee;
}

.page-btn.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ellipsis {
  color: #999;
}
